* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, sans-serif;
    width: 750px; /*Esto lo hago para que tenga un diseño mas parecido al de la foto, mas vertical*/
}

/*HEADER*/

header {
    background-color: black;
    color: white;
    padding: 3rem 4rem 2.5rem 1.2rem;
}

header > h1 {
    font-size: 40px;
}

header > h2 {
    font-weight: normal;
    font-size: 30px;
}

header > p {
    margin: 0.5rem 1.8rem 0 0;
    font-size: 12px;
}

/*MAIN*/

main {
    padding: 0rem 6rem;
}

main > section {
    padding: 0rem 3rem;
}

main > section h3 {
    color: rgb(101, 101, 101);
    font-size: 23px;
    padding: 0.7rem 0 0.3rem 0;
    border-bottom: 2px solid rgb(185, 185, 185);
}

main > section > p {
    padding: 1.5rem 0 1rem 0;
    font-size: 12px;
}

main > section > p:last-child {
    padding: 0.5rem 0 0.6rem 0;
}

main > section > img {
    float: right;
    width: 200px;
    margin: 1.5rem 0 1rem 1rem;
}

/*FORM*/

section > form {
    margin-top: 0.5rem;
}
section > form > div {
    padding: 0.5rem 0 0 0;
    font-size: 12px;
    font-weight: bold;
}

section > form > div > label {
    display: block;
    padding: 0.2rem 0;
}

section > form > div > input {
    background-color: rgb(101, 101, 101);
    border: none;
    width: 100%;
    height: 20px;
}

section > form > div > textarea {
    background-color: rgb(101, 101, 101);
    border: none;
    width: 100%;
    height: 100px;
    resize: none;
}

section > form > button {
    background-color: black;
    color: white;
    font-size: 8px;
    margin: 1rem 0;
    border: none;
    width: 50px;
    height: 20px;
}
