* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

/*
#######
#header#
#########
*/



header > nav > ul {

    list-style: none;
    background-color: rgb(70, 70, 70);
}

header > nav > ul > li {
    display: inline-block;
    margin: 0.5rem;


}
header > nav > ul > li >a {
    text-decoration: none;
    color: white;
}

header > h1 {
    margin: 1rem;
    word-spacing: 5px;
}



/* ###
####main#### 
###*/

main > img {
    border: 1px solid rgb(32, 32, 32);
    border-radius: 5px;
    margin: 1rem;
    width: 200px;
}

main > div > p {
    margin: 1.5rem;
}

main > div > p > a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin: 1.5rem;
    background-color: orange;
    padding: 0.5rem 2.5rem;
    border-radius: 5px;
}



/*
### footer ### 
*/

footer {
    margin-top: 3rem;
    background-color: rgb(0, 45, 70);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

footer > p {
    padding-top: 1.5rem;
    color:white;
}
footer > p > a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color: orange;
    border-radius: 5px;
    padding: 0.5rem 2.5rem;
}
