html {
    --color-fondo: rgb(35, 35, 35);
    --color-fuente: rgb(236, 228, 228);
}
body {
    background-color: var(--color-fondo);
    color: var(--color-fuente);
    margin: 5px;
}

/*HEADER*/

body > header {
    text-align: center;
}

body > header > h1 {
    font-weight: 500px;
}

body > header > nav > ul > li {
    display: inline-block;
    margin: 5px;
}

body > header > nav > ul > li > a {
    color: var(--color-fuente);
    font-weight: 300px;
    font-style: italic;
}

/*MAIN*/

body > main > section > h2 {
    text-align: center;
    border: 2px solid white;
    font-weight: 400px;
}

body > main > section > p,
body > main > section > ul > li {
    font-weight: 300px;
}

body > main > section > ul > li > span {
    font-weight: bold;
}

/*FOOTER*/

body > footer {
    text-align: center;
}
